/* ==================================== 
Table of content:
=======================================
1-hero-left-section
2-Model==pop up 
3-Media query
*/


.hero{
    

    height: 60vh;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    height: 60vh;

}
.hero .left-section{
    margin: 5rem 10rem;
   position: relative;
  
}
.hero .right-section-hero{
   
    height: 100%;
    padding: 2rem;
    position: relative;
    width: 20%;
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: radial-gradient(closest-side  at 69% 30%,#eeede6 30%,#C0BBA9,#908D85,#16191e);
    
    border: 1px solid rgb(219, 217, 217);
}
.hero-img{
    width: 280px;
    border-radius: 50%;
    padding: 1.5rem;
   display: block;
   position: absolute;
   top: 10%;
   right: 62%;
  background-color: #22272f;
  
}

.hero .title{
    font-size: 3rem;
    line-height: 2.5rem;
    margin: 20px 10rem;
color: rgb(255, 255, 255);
}
.hero .sub-title{
    font-size: 2.5rem;
   color: rgb(228, 225, 225);
  margin-left: 10rem;
    
}
.hero .iqons {
  padding: 0 20px;
    gap:1.5rem ;
    font-size: 1.3rem;
    justify-content: flex-start;
    margin-left: 10rem;
     
}
.hero .iqons a{
    color:#ffd78bef
}
.hero .iqon:hover{
    font-size: 1.4rem;
    transition: 0.3s;
    color:rgb(236, 232, 232) ;
    cursor: pointer;
}


/* //////// */
@media (max-width:1366px) {
    .hero{
        height: 40vh;
        
        
    }
    .hero .left-section{
        margin: 6rem 6rem;
       position: relative;
        width: 50%;
    }
    .hero-content{
        margin-top: 5rem;
    }
    .hero-img{
        width: 280px;
        border-radius: 50%;
        padding: 2rem;
       display: block;
       position: absolute;
       top: 9%;
       right: 45%;
      background-color: #22272f;
      
    }
    .circle{
        display: none;
    }

    .hero .title{
        font-size: 2.5rem;
        margin: unset;
       margin-bottom: 1rem;
        
    }
    .hero .sub-title{
        font-size: 2rem;
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .hero .iqons{
        font-size: 1.9rem;
        
        margin-left: 0;
    }
}
@media (max-width:1024px) {
    .hero{
        height: 40vh;
        
        
    }
    .hero .left-section{
        margin: 6rem 3rem;
       position: relative;
        width: 50%;
    }
    .hero-content{
        margin-top: 5rem;
    }
    .hero-img{
        width: 250px;
        border-radius: 50%;
        padding: 2rem;
       display: block;
       position: absolute;
       top: 9%;
       right: 45%;
      background-color: #22272f;
      
    }
    .circle{
        display: none;
    }

    .hero .title{
        font-size: 2.2rem;
        margin: unset;
       
        
    }
    .hero .sub-title{
        font-size: 1.7rem;
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .hero .iqons{
        font-size: 1.7rem;
        
        margin-left: 0;
    }
}

@media (max-width:767px) {
    .hero{
        height: 50vh;
        
    }
    .circle{
       display: none;
    }

    .hero-content{
        flex-direction:  column-reverse;
        row-gap: 5px;
        text-align: center;
        height: auto;
    }
    .hero .left-section{
        margin: unset;
        width: 100%;
        margin-top: 33%;
    }
    .hero .right-section-hero{
        width: 100%;
       
        
    }
    .hero-img{
        width: 150px;
        top: 40%;
   left: 32%;
  
  
    }
    .hero .title{
        font-size: 1.5rem;
        margin: unset;
      
      
    }
    .hero .sub-title{
        font-size: 1.2rem;
        margin-left: 0;
    }
    .hero .iqons{
        font-size: 1rem;
        justify-content: center;
        margin-left: 0;
    }
}
