/* ==================================== 
Table of content:
=======================================
1-hero-left-section
2-Model==pop up 
3-Media query
*/


.hero{
    
background-color: rgb(1, 98, 11);
    height: 60vh;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    height: 60vh;

}
.hero .left-section{
    margin: 5rem 10rem;
   
    width: 40%;
}
.hero .right-section-hero{
   
    height: 100%;
    padding: 2rem;
    position: relative;
    width: 20%;
}
.hero-img{
    width: 280px;
    border-radius: 50%;
    padding: 0.1rem;
   display: block;
   position: absolute;
   top: 10%;
   right: 62%;
  
  
}

.hero .title{
    font-size: 3rem;
    line-height: 2.5rem;
    margin: 20px 0;
color: rgb(244, 255, 240);
}
.hero .sub-title{
    font-size: 2.5rem;
    background: -webkit-linear-gradient(#80ce88,  #d6fbcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    
}
.hero .iqons {
  padding: 0 20px;
    gap:1.5rem ;
    font-size: 1.3rem;
    justify-content: flex-start;
     
}
.hero .iqons a{
    color:rgb(231, 240, 229)
}
.hero .iqon:hover{
    font-size: 1.4rem;
    transition: 0.3s;
    color:rgb(236, 232, 232) ;
    cursor: pointer;
}
.hire1-button{
    background: -webkit-linear-gradient(rgb(0, 105, 0), rgb(0, 49, 0));
    padding: 5px;
    width: 100px;
    border-radius: 25px;
    text-align: center;
    margin-top: 15px;
    margin-right: 20px;
}
.hire2-button{
border: 2px solid rgb(0, 49, 0);
    padding: 5px;
    width: 120px;
    border-radius: 25px;
    text-align: center;
    margin-top: 15px;
    margin-right: 20px;
    color: black;
}
.hero-button button:hover{
opacity: 0.9;
cursor: pointer;
background: -webkit-linear-gradient(rgb(0, 105, 0), rgb(0, 49, 0));
color: white;
}
/* //////// */
@media (max-width:768px) {
    .hero{
        height: 60vh;
        
    }
    .hero-content{
        flex-direction:  column-reverse;
        row-gap: 5px;
        text-align: center;
        height: auto;
    }
    .hero .left-section{
        margin: unset;
        width: 100%;
        margin-top: 33%;
    }
    .hero .right-section-hero{
        width: 100%;
        
        height: auto;
    }
    .hero-img{
        width: 150px;
        top: 50%;
   left: 30%;
    }
    .hero .title{
        font-size: 1.7rem;
        margin: unset;
       
        
    }
    .hero .sub-title{
        font-size: 1.2rem;
    }
    .hero .iqons{
        font-size: 1rem;
        justify-content: center;
    }
}
