
.about{
    margin-top: 8rem;
    margin-bottom: 90px;
    
    border-radius: 10px;
    padding: 10px;
}
.about .row{
 gap: 2rem;
 column-gap: 3rem;
}
.about-img{
    width: 350px;
    border-radius: 8px;
    box-shadow: 15px 15px  rgb(0, 73, 0);
    display: block;
}
.right-section{
    
    color: rgb(0, 0, 0);
  
}
.hero-button a{
color: rgb(255, 255, 255);
}
.about-title{
    color: rgb(0, 73, 0);
   
}
.about-subtitle{
    color: rgb(102, 102, 102);
}
.span{
    width: 80px;
    height: 1px;
    background-color: #d0c1c6;
}
.about-table{
    border: 1px solid rgb(126, 126, 126);
    margin-top: 1.2rem;
    text-transform: capitalize;
    padding: 1rem;
}
@media (max-width:768px) {
    .right-section{
       margin: auto;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
    .about-img{
        width: 280px;
        text-align: center;
        margin: auto;
    }
    .about-title{
        text-align: center;
        margin-top: 10px;
    }
    .span{
        
        margin: 10px auto;
    }
    .about-subtitle{
        font-size: 0.9rem;
    }
}
